

.wrapper {
  @include wrapper;
}

.page-title {
  @include serif--xl;
  font-weight: 400;
  @include margin-top--large;
}
.page-description {
  @include serif--m;
  width: 75%;
  margin-top: $m;
  color: $gray-5;
}
// .book__grid {
//   @include media($small-screen-up) {
//     // on mobile, no grid just flex height items
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: $l;
//   }
//   @include media($medium-screen-up) {
//     // on tablets and up create a 6 column grid with repeating rows.
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
//     grid-template-rows: 6rem;
//     align-items: center;
//   }
// }

.book-hero {
  // grid
  display: grid;
  grid-template-columns: 0.45fr 0.55fr;
  grid-template-areas:
    "hero-image hero-image"
    "hero-desc  hero-desc";
  @include media($medium-screen-up) {
    grid-template-areas:
      "hero-image hero-desc";
    grid-column-gap: $m;
  }

  &__image {
    grid-area: hero-image;
    
    img {
      @include book-shadow;
      width: 100%;
    }
  }
  &__info {
    grid-area: hero-desc;
  }
  &__title {
    @include sans-serif--xl;
  }
  &__author {
    @include serif--s;
    color: $gray-4;
    margin-top: $s;
  }
  &__short-description {
    @include serif--m;
    white-space: pre-line; // added this to work with weird yaml formatting. I could probably understand this more than I do.
    color: $gray-6;
    margin-top: $l;
  }
  // margins and spacing
  margin-top: $xl;
  
}


.space-one {
  // grid - 6 columns, 8 rows
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto $l auto auto;
  grid-template-areas:
    "img1  img1  img1  img1  .     ."
    "info1 info1 info1 info1 info1 info1"
    ".     .     .     .     .     ."
    "img2  img2  img2  img2  .     ."
    "info2 info2 info2 info2 info2 info2";
  @include media($medium-screen-up) {
    grid-template-rows: auto;
    grid-template-areas:
      "img1  img1  info1 info1 info1 info1"
      "img1  img1  info1 info1 info1 info1"
      "img1  img1  .     .     img2  img2"
      "img1  img1  .     .     img2  img2"
      "info2 info2 info2 info2 img2  img2"
      "info2 info2 info2 info2 img2  img2";
  }

  // Using nth child to assign the books and images to grid areas. not sure if this 
  // or assigning a class in markup is better

  // spacing
  margin-top: $xl;

  &__book {

    &__image {
      display: grid;

      &:nth-child(1) {
        grid-area: img1;
        img {
          width: 100%;
          @include book-shadow-2;
          z-index: 1; //to make sure shadow goes over info BG
        }
      }
      &:nth-child(3) {
        grid-area: img2;
        img {
          align-self: end;
          @include book-shadow-2;
        }
      }
    }
    &__info {
      &:nth-child(2) {
        grid-area: info1;
        @include media($medium-screen-up) {
          padding-left: $m;
        }
      }
      &:nth-child(4) {
        grid-area: info2;
        align-self: end;
        @include media($medium-screen-up) {
          text-align: right;
          padding-right: $m;
        }
      }
    }

    &__title {
      @include sans-serif--xl;
      padding-top: $m;
      //background-color: $off-white;
    }
    &__author {
      @include serif--m;
      color: $gray-4;
      //background-color: $off-white;
      padding-top: $xs;
    }
    &__short-description {
      @include serif--m;
      line-height: 1.5;
      //background-color: $off-white;
      padding-top: $m;
      white-space: pre-line; // added this to work with weird yaml formatting
    }
    &__read-more {
      margin-top: $m;
      @include sans-serif--l;
      display: inline-block;
    }
  }
}

.space-two {
  margin-top: $xl;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "rank-two   rank-two   rank-two"
    "rank-three rank-three rank-three";
  @include media($medium-screen-up) {
    grid-template-areas:
      "rank-two rank-two rank-three"
      "rank-two rank-two rank-three"
      "rank-two rank-two rank-three"
      "rank-two rank-two rank-three";
  }
}
.rank-two {
  grid-area: rank-two;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__book {
    padding: $s;

    &__image {
      align-self: center;
      justify-self: center;
      img {
        @include book-shadow-2;
      }
    }
    &__info {
      align-self: end;
    }
    &__title {
      @include sans-serif--m;
      font-weight: 700;
      margin-top: $xs;
    }
    &__author {
      @include serif--s;
      color: $gray-4;
      margin-top: $xs;
    }
  }

}

.rank-three {
  margin-top: $m;
  grid-area: rank-three;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include media($medium-screen-up) {
    margin-top: $xxl;
    grid-template-columns: repeat(2, 1fr);
    margin-left: $m;
  }
  &__book {
    padding: $xs;
    align-self: center;
  }
}

// triggering description overlay
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 240ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;

  &__close {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: default;
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &__modal {
    position: fixed;
    z-index: 2;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48rem;
    max-width: 95%;
    background-color: #fff;
    transition: all ease-in 240ms;
    border-radius: 4px;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.4);


    @include media($medium-screen-up) {
      top: 50%;
    }

    &__manual_close {
      top: $xs;
      right: $s;
      position: absolute;
      z-index: 3;
      background-color: rgba(255,255,255,0.85);
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 16px;
      box-shadow: 0px 0px 2px rgba(0,0,0,0.25);
      @include sans-serif--m;
      padding: 4px $s;
      @include media($medium-screen-up) {
        top: $m;
      }
    }

    &__title {
      @include sans-serif--l;
      text-align: left;
      padding: $l $s $s $s;

      @include media($medium-screen-up) {
        padding: $m $xl $m $l;
      }
    }

    &__book-description {
      @include serif--m;
      text-align: left;
      overflow-y: auto;
      max-height: 70vh;
      width: 100%;
      white-space: pre-line;
      padding: $s $s $m $s;
      @include media($medium-screen-up) {
        padding: $s $l $m $l;
      }
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.25);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.25);
    }
  }
}