//Set this to negative of whatever the shift-column margins happen to be. TODO: calc this dynamically?
$one-col: 8.5298%;
$two-col: 17.09402%;
$three-col: 25.58941%;
$four-col: 34.11922%;


.article-header {
	margin-top: -64px; //size of navbar
	padding-top: 3.75rem + 3rem; //To continue bg color behind the transparent nav
	.intranet-redesign & {
		background-color: $intranet-blue;
	}
	.dtv-concept & {
		background-color: $dtv-gray;
	}
	.clinical-pharm & {
		background-color: $els-orange;
	}
	.cmf-library & {
		background-color: $cmf-green;
	}
	.fam-design & {
		background-color: $fam-blue;
		background-image: linear-gradient(340deg, #76C4E7 0%, #D5E0ED 100%);
	}
	.pp-create & {
		background-color: $pp-paloma;
		background-image: linear-gradient(340deg, $pp-paloma 0%, lighten($pp-paloma, 10) 100%);
	}
	&__content-wrapper {
		@include wrapper;
	}
}

// Case study header

.project-header {
	@include wrapper;

	&__title {
		@include row;
		padding-top: $xl;
		padding-bottom: $m;
		&__text {
			@include sans-serif--xl;
			@include span-columns(12);
			@include media($medium-screen-up) {
				@include span-columns(10);
				@include sans-serif--xxl;
			}
		}
	}

	&__summary {
		@include row();
		padding-bottom: $l;
		&__text {
			@include span-columns(12);
			@include serif--l;
			@include media($medium-screen-up) {
				@include span-columns(10);
			}
			@include media($large-screen-up) {
				@include span-columns(8);
			}
		}
	}

	&__meta {
		@include row;
		padding-bottom: $m;
		@include media($medium-screen-up) {
			@include span-columns(3);
			padding-bottom: 0;
		}
		@include media($large-screen-up) {
			@include span-columns(2);
		}
		&__group {
			@include span-columns(6);
			padding-bottom: $m;
			&:nth-child(2) {
				@include omega;
			}
			&:last-child {
				@include span-columns(12);
			  padding-bottom: 0;
			}
			@include media($medium-screen-up) {
				@include span-columns(12);
			}
			&__label {
				@include sans-serif--s--tracked;
			}
			&__value {
				@include serif--s;
			}
		}
	}

	&__image {
		@include row;
		@include media($medium-screen-up) {
			@include span-columns(9);
		}
		@include media($large-screen-up) {
			@include span-columns(10);
		}
	}

}


.article {
	@include wrapper;
	&__content-wrapper {
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
	}
	h2 {
		@include sans-serif--xl;
		padding-bottom: $s;
		padding-top: $m;
	}
	h3 {
		@extend h3;
	}
	p {
		@include serif--m--longform;
		color: $gray-5;
	}
	ol, ul {
		@extend p.text--medium--long-form;
		@include margin-bottom--small;
		padding-left: 1rem;
	}
	ul {
		@include margin-top--medium;
		@include margin-bottom--medium;
		margin-left: 1rem;
		@include media($medium-screen-up) {
			margin-left: 4rem;
			width: 85%;
		}
		li {
		list-style-type: disc;
		@include margin-top--small;
	}
}
}

.article-content {
	ol {
		margin-bottom: 1rem;
	}
}

.image-wrapper {
	@include row();
	margin-top: 2rem;
	margin-bottom: 2rem;
	img {
		display: block;
		margin: auto;
		margin-top: 1rem;
		// margin-bottom: 1rem; // why did I add margins to bottom of images?
		@include media($large-screen-up) {
			margin-top: 0;
		}
	}
	&.gray-bg {
		background-color: $gray-1;
		margin-left: -1rem;
		margin-right: -1rem;
		padding: 0.5rem;
		@include media($large-screen-up) {
			padding: 2rem;
		}
	}
	&.box-shadow img {
		box-shadow: $gray-2 0 0 1.6rem;
	}
	&.extra-large {
		@include media($large-screen-up) {
			@include shift(-3);
			margin-right: (-$three-col);
		}
	}
	&.large {
		@include media($large-screen-up) {
			@include shift(-2); //break images out of grid
			margin-right: (-$two-col);
		}
	}
	&.small {
		@include media($large-screen-up) {
			margin-left: auto;
			margin-right: auto;
			width: 75%;
		}
	}
	&.extra-small {
		@include media($large-screen-up) {
			margin-left: auto;
			margin-right: auto;
			width: 60%;
		}
	}
}

.gray-bg-wrapper {
	background-color: $gray-1;
	padding: 0.5rem;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-bottom: 2rem;
	@include media($large-screen-up) {
		padding: 2rem;
		@include shift(-3);
		margin-right: (-$three-col);
	}
	.image-wrapper {
		margin-bottom: 0.5rem;
	}
	.image-wrapper.extra-large, .image-wrapper.large, .prototype-wrapper.tablet {
		margin-left: 0;
		margin-right: 0;
	}
	.image-wrapper.medium, .image-wrapper.small {
		@include media($large-screen-up) {
			width: 75%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.image-wrapper:nth-child(1) {
		margin-top: 0;
	}
	.image-wrapper img:nth-child(1) {
		margin-top: 0;
	}
}


.image-two-across img {
	@include media($medium-screen-up) {
		@include span-columns(5.5);
		@include shift(0.25);
		&:nth-child(2n) {
			@include omega();
		}
	}
}

.image-two-across--large-small a { //hacky, fix later used for one large image than one small one
	@include media($medium-screen-up) {
		&:nth-child(1n) {
			@include span-columns(9);
		}
		&:nth-child(2n) {
			@include span-columns(3);
			@include omega();
		}

	}
}

.image-three-across img {

	@include media($medium-screen-up) {
		@include span-columns(4);
		&:nth-child(3n) {
			@include omega();
		}
	}
}

.image-five-across img {

	@include media($medium-screen-up) {
		@include span-columns(2.4);
		&:nth-child(5) {
			@include omega();
		}
	}
}

.prototype-wrapper {
	text-align: center;
	margin-bottom: 2rem;
	iframe {
		@include media($medium-screen-down) {
			display: none;
		}
	}
	.button {
		margin-left: 0;
		margin-right: 0;
	}
}

.prototype-wrapper.tablet {
	margin-left: auto;
	margin-right: auto;

	iframe, .caption {
			display: none;
		}

	@include media(min-width em(960) and max-width em(1040)) {
		@include shift(-3);
		iframe, .caption {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@include media(min-width em(1040)) {
		iframe, .caption {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		margin-left: (-$three-col);
		margin-right: (-$three-col);
	}
}

.button {
	margin-top: 1rem;
	@include media($medium-screen-up) {
		margin-top: 0;
	}
	&.prototype-wrapper {
		margin: 1rem auto 0 auto;
	}
}

p.caption {
	@include small-description-text();
	font-style: italic;
	text-align: left;
	margin-top: 1rem;
	margin-bottom: 0;
	// @include span-columns(12); // don't think i need this
}

.article-footer {
	border-top: 1px solid $gray-3;
	@include margin-top--large;
	@include padding-top--xsmall;
	@include span-columns(12);
	@include media($medium-screen-up) {
		@include span-columns(10);
		@include shift(1);
	}
	@include media($large-screen-up) {
		@include span-columns(8);
		@include shift(2);
	}
}
.article-footer label {
	margin-top: 0.2rem;
}

.next-prev-article-links {
	padding-top: 1rem;
	font-size: 1rem;
	font-family: $sans-serif;
	font-weight: 600;
	a {
		display: block;
		margin-top: 1rem;
		@include media($medium-screen-up){
			display: inline-block;
			margin-top: 0;
		}
	}
}

.prev-article-link::before {
	content: "«";
	position: relative;
	top: -1px;
	padding-right: 2px;
}

.next-article-link {
	&::after {
		content: "»";
		position: relative;
		top: -1px;
		padding-left: 2px;
		}
	@include media($medium-screen-up) {
		float: right;
	}
}

//for writing articles only

.writing-header {
	@include wrapper;
	&__title {
		@include row;
		padding-top: $xl;
		padding-bottom: $m;
		&__text {
			@include sans-serif--xl;
			@include span-columns(12);
			@include media($medium-screen-up) {
				@include span-columns(10);
				@include sans-serif--xxl;
			}
		}
	}

	&__meta {
		@include row;
		padding-bottom: $m;
		@include media($medium-screen-up) {
			@include span-columns(3);
			padding-bottom: 0;
		}
		@include media($large-screen-up) {
			@include span-columns(2);
		}
		&__group {
			@include span-columns(6);
			padding-bottom: $m;
			&:nth-child(2) {
				@include omega;
			}
			@include media($medium-screen-up) {
				@include span-columns(12);
			}
			&__label {
				@include sans-serif--s--tracked;
			}
			&__value {
				@include serif--s;
			}
		}
	}

	&__image {
		padding-bottom: $l;
		@include media($medium-screen-up) {
			@include span-columns(9);
			@include omega;
		}
		@include media($large-screen-up) {
			@include span-columns(10);
			@include omega;
		}
	}

	&__summary {
		@include span-columns(12);
		padding-bottom: $l;
		&__label {
			@include span-columns(12);
			@include sans-serif--s--tracked;
			@include media($medium-screen-up) {
				@include span-columns(12);
			}
			@include media($large-screen-up) {
				@include span-columns(2);
				padding-top: 6px; // to help baseline alignment
			}
		}
		&__text {
			@include span-columns(12);
			@include serif--l;
			@include media($medium-screen-up) {
				@include span-columns(9);
			}
			@include media($large-screen-up) {
				@include span-columns(8);
			}
		}
	}

	.article {
		li {
			margin-top: $s;
		}
	}

	.image-full img {
		width: 100%;
	}
}

// to create an arrow for the envelope emoji in the Flyer case study
.envelope-emoji {
	position: relative;
	@include span-columns(12);
	padding-bottom: $m;
	@include media($medium-screen-up) {
		@include span-columns(6);
		padding-bottom: 0;
	}

	> img {
		@include span-columns(12);
	}
	&::after {
		background-image: url("../images/flyer/arrow-right.svg");
		background-repeat: no-repeat;
		background-size: cover;
		content: "";
		position: absolute;
		right: calc(50% - 40px / 2);
		top: 78%;
		width: 40px;
		height: 0;
		padding: 0;
		padding-bottom: calc(40px / 1.7);
		transform: rotate(90deg);
		@include media($medium-screen-up) {
			right: 2.5%;
			width: 50px;
			top: 45%;
			padding-bottom: calc(50px / 1.7);
			transform: rotate(0deg);
		}
		@include media($large-screen-up) {
			right: 2.5%;
			width: 80px;
			padding-bottom: calc(80px / 1.7);
		}
	}
}
