//Set this to negative of whatever the shift-column margins happen to be. TODO: calc this dynamically?
$one-col: 8.5298%;
$two-col: 17.09402%;
$three-col: 25.58941%;
$four-col: 34.11922%;

.project-heading {
	margin-top: 3rem;
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2.0rem;
	@include media($medium-screen-up) {
		font-size: 2.4rem;
	}
	img {
		display: block;
		margin: auto;
		margin-bottom: 1rem;
		height: 2.4rem;
		vertical-align: middle;
		@include media($medium-screen-up) {
			display: inline;
			margin: auto;
		}
	}
}

.text-wrap {
	@include span-columns(12);
	@include media($large-screen-up) {
		@include span-columns(8);
		@include shift(2);
	}
}

.meta-list {
	@include row();
	background-color: $white;
	border: 1px solid $gray-2;
	padding: 1rem 0 0 1rem;
	margin-bottom: 2rem;
	@include media($large-screen-up) {
		padding: 1rem 0 1rem 1rem;
		@include shift(1);
		margin-right: $one-col;
	}
}
//default-mobile meta
.meta-item {
	@include span-columns(6 of 12);

	.value {
		font-weight: 400;
		margin-bottom: 1rem;
		margin-top: 0.2rem;
		color: $gray-5;
		font-size: 1.0rem;
	}
	@include media($large-screen-down) {
		&:nth-child(2n) {
			@include omega();
		}
	}
}
//desktop meta
.meta-item {
	@include media($large-screen-up) {
		@include span-columns(3 of 12);
		border-right: 1px solid $gray-2;
		&:last-child {
			@include omega();
			border: none;
		}
		&:first-child {
			margin-left: 0;
		}
		label {
			margin-bottom: 0;
		}
		.value {
			margin-bottom: 0;
		}
	}
}

h2 {
	margin-top: 2.4rem;
	text-transform: uppercase;
}


.image-wrapper {
	@include row();
	margin-top: 2rem;
	margin-bottom: 2rem;
	&.extra-large {
		@include media($large-screen-up) {
			@include shift(-3);
			margin-right: (-$three-col);
		}
	}
	&.large {
		@include media($large-screen-up) {
			@include shift(-2); //break images out of grid
			margin-right: (-$two-col);
		}
	}
	&.small {
		@include media($large-screen-up) {
			margin-left: auto;
			margin-right: auto;
			width: 75%;
		}
	}
}

.image-two-across img {
	@include media($large-screen-up) {
		@include span-columns(6);
		&:last-child {
			@include omega();
		}
	}
}

.image-three-across img {
	@include media($large-screen-up) {
		@include span-columns(4);
		&:last-child {
			@include omega();
		}
	}
}

.image-five-across img {
	@include media($large-screen-up) {
		@include span-columns(2.4);
		&:last-child {
			@include omega();
		}
	}
}

.prototype-wrapper {
	text-align: center;
	margin-bottom: 2rem;
	iframe {
		@include media($medium-screen-down) {
			display: none;
		}
	}
}

.prototype-wrapper.tablet {
	margin-left: auto;
	margin-right: auto;

	iframe {
			display: none;
		}

	@include media(min-width em(960) and max-width em(1040)) {
		@include shift(-3);
		iframe {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@include media(min-width em(1040)) {
		iframe {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		margin-left: (-$three-col);
		margin-right: (-$three-col);
	}
}

.prototype-wrapper .button {
	margin: 1rem auto 0 auto;
}

.article-footer {
	margin-top: 6rem;
	padding-top: 1rem;
	border-top: 1px solid $gray-3;
}
.article-footer label {
	margin-top: 0.2rem;
}

.next-prev-article-links {
	padding-top: 1rem;
	font-size: 1rem;
}

.prev-article-link::before {
	content: "«";
	position: relative;
	top: -1px;
	padding-right: 2px;
}


.next-article-link {
	float: right;

	&::after {
	content: "»";
	position: relative;
	top: -1px;
	padding-left: 2px;
	}
}
