//Set this to negative of whatever the shift-column margins happen to be. TODO: calc this dynamically?
$one-col: 8.5298%;
$two-col: 17.09402%;
$three-col: 25.58941%;
$four-col: 34.11922%;

.article-detail-content {
	@include top-page-margin();
}

.project-heading, .article-heading {
	text-align: center;
	@include margin-medium-bottom;
	h1 {
		font-size: 2.0rem;
		@include media($medium-screen-up) {
			font-size: 3.6rem;
			display: inline;
			vertical-align: middle;
			padding-left: 0.50rem;
		}
	}
	img {
		display: block;
		margin: auto;
		margin-bottom: 1rem;
		height: 3.6rem;
		vertical-align: middle;
		@include media($medium-screen-up) {
			display: inline;
		}
	}
}

.article-heading {
	h1 {
		font-family: $serif;
		font-weight: normal;
	}
	img {
		@include media($medium-screen-up) {
			display: block;
			@include margin-medium-bottom;
		}
	}
}

.text-wrap {
	@include span-columns(12);
	@include bottom-page-margin();
	@include media($large-screen-up) {
		@include span-columns(8);
		@include shift(2);
	}
}

.text-wrap p a {
	font-weight: bold;
}

.text-wrap pre {
	@include media($medium-screen-down) {
		margin-left: 0;
		white-space: pre-line;
	}
}

.meta-list {
	@include row();
	background-color: $off-white;
	//border: 1px solid $gray-2;
	padding: 1rem 0 0 1rem;
	margin-bottom: 2rem;
	@include media($large-screen-up) {
		padding: 1rem 0 1rem 1rem;
	}
}
//default-mobile meta
.meta-item {
	@include span-columns(6 of 12);

	.value {
		font-weight: 400;
		margin-bottom: 1rem;
		margin-top: 0.2rem;
		color: $gray-5;
		font-size: 1.0rem;
	}
	@include media($large-screen-down) {
		&:nth-child(2n) {
			@include omega();
		}
	}
}
//desktop meta
.meta-item {
	@include media($large-screen-up) {
		@include span-columns(3 of 12);
		border-right: 1px solid $gray-2;
		&:last-child {
			@include omega();
			border: none;
		}
		&:first-child {
			margin-left: 0;
		}
		label {
			margin-bottom: 0;
		}
		.value {
			margin-bottom: 0;
		}
	}
}

h2 {
	margin-top: 2.4rem;
	text-transform: uppercase;
}

.article-intro {
	font-size: 1.4rem;
	margin-bottom: 4rem;
	@include media($large-screen-up) {
		@include shift(-1);
		margin-right: (-$one-col);
	}
}

.article-content {
	ol {
		margin-bottom: 1rem;
	}
}

.image-wrapper {
	@include row();
	margin-top: 2rem;
	margin-bottom: 2rem;
	img {
		display: block;
		margin: auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
		@include media($large-screen-up) {
			margin-top: 0;
		}
	}
	&.gray-bg {
		background-color: $gray-1;
		padding: 2rem;
		margin-left: -1rem;
		margin-right: -1rem;
	}
	&.box-shadow img {
		box-shadow: $gray-2 0 0 1.6rem;
	}
	&.extra-large {
		@include media($large-screen-up) {
			@include shift(-3);
			margin-right: (-$three-col);
		}
	}
	&.large {
		@include media($large-screen-up) {
			@include shift(-2); //break images out of grid
			margin-right: (-$two-col);
		}
	}
	&.small {
		@include media($large-screen-up) {
			margin-left: auto;
			margin-right: auto;
			width: 75%;
		}
	}
	&.extra-small {
		@include media($large-screen-up) {
			margin-left: auto;
			margin-right: auto;
			width: 60%;
		}
	}
}

.gray-bg-wrapper {
	background-color: $gray-1;
	padding: 2rem;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-bottom: 2rem;
	@include media($large-screen-up) {
		@include shift(-3);
		margin-right: (-$three-col);
	}
	.image-wrapper {
		margin-bottom: 0.5rem;
	}
	.image-wrapper.extra-large, .image-wrapper.large, .prototype-wrapper.tablet {
		margin-left: 0;
		margin-right: 0;
	}
	.image-wrapper.medium, .image-wrapper.small {
		@include media($large-screen-up) {
			width: 75%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.image-wrapper:nth-child(1) {
		margin-top: 0;
	}
	.image-wrapper img:nth-child(1) {
		margin-top: 0;
	}
}


.image-two-across img {
	@include media($medium-screen-up) {
		@include span-columns(5.5);
		@include shift(0.25);
		&:nth-child(2n) {
			@include omega();
		}
	}
}

.image-three-across img {

	@include media($medium-screen-up) {
		@include span-columns(4);
		&:nth-child(3n) {
			@include omega();
		}
	}
}

.image-five-across img {

	@include media($medium-screen-up) {
		@include span-columns(2.4);
		&:nth-child(5) {
			@include omega();
		}
	}
}

.prototype-wrapper {
	text-align: center;
	margin-bottom: 2rem;
	iframe {
		@include media($medium-screen-down) {
			display: none;
		}
	}
	.button {
		margin-left: 0;
		margin-right: 0;
	}
}

.prototype-wrapper.tablet {
	margin-left: auto;
	margin-right: auto;

	iframe, .caption {
			display: none;
		}

	@include media(min-width em(960) and max-width em(1040)) {
		@include shift(-3);
		iframe, .caption {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@include media(min-width em(1040)) {
		iframe, .caption {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		margin-left: (-$three-col);
		margin-right: (-$three-col);
	}
}

.prototype-wrapper .button {
	margin: 1rem auto 0 auto;
}

.caption {
	@include small-description-text();
	font-style: italic;
	text-align: left;
	margin-top: 0.25rem;
	margin-bottom: 0;
	@include span-columns(12);
}

.article-footer {
	@include bottom-page-margin();
	border-top: 1px solid $gray-3;
}
.article-footer label {
	margin-top: 0.2rem;
}

.next-prev-article-links {
	padding-top: 1rem;
	font-size: 1rem;
	font-family: $sans-serif;
	font-weight: 600;
}

.prev-article-link::before {
	content: "«";
	position: relative;
	top: -1px;
	padding-right: 2px;
}


.next-article-link {
	float: right;

	&::after {
	content: "»";
	position: relative;
	top: -1px;
	padding-left: 2px;
	}
}
