@import 'normalize.css';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

@import 'project_detail.css';

html {
  overflow-y: scroll;
}

body {
  background: $base-background-color;
}

.wrapper {
  @include outer-container;
  @include padding(0 1rem);
  @include media($large-screen-up) {
    @include padding(0em);
  }
}

.row {
  @include row();
}

////// Header

.main-nav {
  background-color: $gray-6;
  height: 3rem;
  margin-bottom: 2rem;
}

.main-nav-list {
  @include span-columns(12);
  li {
    font-family: $heading-font-family;
    font-size: 1.0rem;
    color: $off-white;
    @include span-columns(1 of 3);
    padding-top: 0.6rem;
    text-align: center;
  }
  @include media($medium-screen-up) {
    @include span-columns(9 of 12);
    padding-left: 1rem;
    li {
      @include span-columns(2 of 12);
      font-weight: 200;
      list-style: none;
      text-align: left;
      &.activated {
        background-color: red;
        a {
          color: dark-red;
        }
      }
    }
  }
}

//index page
.list-item {
  @include row();
  @include omega();
  margin-bottom: 2rem;
  border-bottom: 1px solid $gray-2;
  padding-bottom: 1rem;
  @include media($large-screen-up) {
    @include shift(2);
    @include span-columns(8);
  }

}
.list-item-title {
  padding-top: 0.75rem;
  margin-bottom: 0.5rem;
  letter-spacing: -0.10rem;
}
.list-item-image-wrapper {
  @include span-columns(2);
  max-width: 4rem;
  img {
    padding-top: 0.25rem;
  }
  @include media($large-screen-up) {
    @include span-columns(1.5 of 8);
    max-width: none;
    min-height: 7rem;
    img {
      max-width: 85%;
      padding-top: 1rem;
      padding-left: 1rem;
    }
  }
}
.list-item-title {
  @include span-columns(9);
  @include omega();
  margin-top: 0;
  @include media($large-screen-up) {
    @include span-columns(6 of 8);
  }
}
.list-item-intro {
  @include span-columns(12);
  @include media($large-screen-up) {
    @include span-columns(6 of 8);
  }
}

.profile-image {
  @include span-columns(10 of 12);
  @include shift(1);
  @include media($medium-screen-up) {
    @include span-columns(4);
    @include shift(4);
  }
  @include media($large-screen-up) {
    @include span-columns(2);
    @include shift(5);
  }

}

.profile-header {
  text-align: center;
}
