

@import 'normalize.css';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

@import '_spacing';
@import '_typography';
@import '_buttons';



/* -----
SVG Icons - svgicons.sparkk.fr
----- */

@import 'project_detail';
@import 'library';


* {
  margin: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  background: $base-background-color;
  height: 100%;
}

//Some tricky stuff for sticky footer
#main {
  min-height: 100%;
  margin-bottom: -6rem; //Size of footer
  &:after {
  content: "";
  display: block;
  }
}


.row {
  @include row();
}

////// Header

.nav {
  background-color: transparent; // to go over backgrounds in some detail pages
  &__container {
    @include wrapper;
    height: 64px;
  }
  &__logo {
    @include span-columns(1.5);
    min-width: 32px;
    padding-top: $s;
    img {
      width: 100%;
    }
    @include media($medium-screen-up) {
      @include span-columns(0.75);
    }
  }
  &__menu {
    @include span-columns(10);
    float: right;
    padding-top: $s;
    text-align: right;
    li {
      @include span-columns(4);
      @include sans-serif--m;
      @include media($medium-screen-up) {
        display: inline-block;
        float: right;
        width: auto;
        padding-left: $l;
        margin-right: 0;
        @include sans-serif--s;
      }
      a {
        @include alt-link-style;
      }
    }
  }
}

.nav__container--home {
  @extend .nav__container;
  @include media($medium-screen-up) {
    height: auto;
  }
}
.nav__logo--home {
  @extend .nav__logo;
  @include media($medium-screen-up) {
    min-width: 64px;
    padding-top: $xxl;
  }
}

//// Index page

.index-page-wrapper {
  @include wrapper;
}

// Introduction

.introduction {
  @include row();
  @include span-columns(11);
  padding-top: $xl;
  @include media($large-screen-up) {
    @include span-columns(10);
    padding-top: $xl;
  }
  .introduction__paragraph {
    font-size: 10vw;
    line-height: 1.2;
    & br {
      display: none;
    }
    @include media($medium-screen-up) {
      font-size: 2.625rem;
    }
    @include media($large-screen-up) {
      & br {
        display: block;
      }
    }
  }

  &__contact {
    @extend h4;
    padding-top: $l;
  }
}
.contact__list {
  &__item {
    a {
      @extend .text-link-btn--medium;
    }
    display: inline-block;
    width: 100%;
    @include margin-top--small;
    &:nth-child(1) {
      margin-top: 0;
    }
    @include media($medium-screen-up) {
      width: auto;
      margin-right: 2.5rem;
    }
  }
}


// Writing list

.writing-section {
  padding-top: $l;
  @include span-columns(12);
  @include row();
  @include media($large-screen-up) {
    @include span-columns(10);
  }
  &__label {
    @include sans-serif--s--tracked;
  }
}
.writings {
  margin-top: $s;
}
.writing {
  @include span-columns(12 of 12);
  &:nth-child(1n+2) { // Selecting all but first
    margin-top: $l;
  }
  @include media($medium-screen-up) {
    @include span-columns(5.5 of 12);
    &:nth-child(1), &:nth-child(2) { //Selecting first two
      margin-top: 0;
    }
    &:nth-child(2n-1) { //select 1st, 3rd, etc
      @include omega;
      clear: left;
    }
    &:nth-child(2n) { //select 2nd, 4th, etc
      @include shift(1);
      @include omega;
    }
  }

  &__title {
    @include sans-serif--l;
    @include alt-link-style;
  }
  &__description {
    @include serif--s;
    color: $gray-5;
    padding-top: $xs;
  }
}

//Project List
.project-section {
  padding-top: $xl;
  @include span-columns(12);
  @include row;
  &__label {
    @include sans-serif--s--tracked;
  }
}

.project {
  @include row;
  padding-top: $xl;
  &:nth-child(1) {
    padding-top: $s;
  }
  &__image {
    max-width: 100%;
    @include span-columns(12 of 12);
    @include media($medium-screen-up) {
      @include span-columns(10 of 12);
    }
    @include media($large-screen-up) {
      @include span-columns(8.5 of 12);
      height: 40rem;
    }
  }
  .project__info {
    padding-top: $s;
    @include span-columns(12 of 12);
    @include media($medium-screen-up) {
      @include span-columns(10 of 12);
    }
    @include media($large-screen-up) {
      padding-top: $xl;
      @include span-columns(3 of 12);
      @include omega;
      @include shift(0.5);
    }
  }
  &__title {
    @include span-columns(12);
    @include sans-serif--l;
    @include alt-link-style;
  }
  &__meta {
    padding-top: $m;
    @include serif--s;
    color: $gray-4;
    @include media($medium-screen-up) {
      @include span-columns(4);
    }
    @include media($large-screen-up) {
      @include span-columns(12);
      padding-top: $s;
    }
  }
  &__description {
    padding-top: $m;
    @include serif--s;
    color: $gray-6;
    @include media($medium-screen-up) {
      @include span-columns(8);
      @include omega;
    }
    @include media($large-screen-up) {
      padding-top: $xl;
      @include span-columns(12 of 12);
    }
  }
  &__cta {
    padding-top: $m;
    a {
      @extend .text-link-btn--medium;
      &.responsive_intranet_redesign {
        &::after {
          background-color: rgba($intranet-blue, 0.75);
        }
      }
      &.case-study-dtv::after {
        background-color: rgba($dtv-gray, 0.75);
      }
      &.case-study-els::after {
        background-color: rgba($els-orange, 0.75);
      }
      &.case-study-fam::after {
        background-color: rgba($fam-blue, 0.75);
      }
      &.case-study-pp-create::after {
        background-color: rgba($pp-paloma, 0.75);
      }
    }
    @include media($medium-screen-up) {
      @include span-columns(3);
      @include shift(4);
    }
    @include media($large-screen-up) {
      @include span-columns(12);
      @include shift(0);
    }
  }
}


///// Footer

.site-footer {
  @include wrapper;
  @include margin-top--xlarge;
  @include padding(1rem 1rem 0 1rem);
}

.link-list {
  @include span-columns(12);
  @include row;
  &__item {
    display: inline-block;
    @include padding(0 2.5rem 1rem 0);
    a {
      @extend .text-link-btn--small;
    }
    @include media($medium-screen-up) {
      padding: 1rem 0.5rem;
      &:nth-child(1) {
        padding-left: 0;
      }
    }
  }
}


.colophon {
  @include span-columns(12);
  @include row;
}
