@mixin top-page-margin {
  padding-top: 6rem; //3 for header 3 for fun
}

@mixin bottom-page-margin {
  padding-bottom: 6rem;
}

// New Styles

@mixin padding-top--xlarge {
  padding-top: 12rem;
}

@mixin padding-top--large {
  padding-top: 4rem;
}

@mixin padding-top--medium {
  padding-top: 2rem;
}

@mixin padding-top--small {
  padding-top: 1rem;
}

@mixin padding-top--xsmall {
  padding-top: 0.5rem;
}

@mixin padding-bottom--xlarge {
  padding-bottom: 12rem;
}

@mixin padding-bottom--large {
  padding-bottom: 4rem;
}

@mixin padding-bottom--medium {
  padding-bottom: 2rem;
}

@mixin padding-bottom--small {
  padding-bottom: 1rem;
}

@mixin padding-bottom--xsmall {
  padding-bottom: 0.5rem;
}

@mixin margin-top--xlarge {
  margin-top: 12rem;
}

@mixin margin-top--large {
  margin-top: 4rem;
}

@mixin margin-top--medium {
  margin-top: 2rem;
}

@mixin margin-top--small {
  margin-top: 1rem;
}

@mixin margin-top--xsmall {
  margin-top: 0.5rem;
}

@mixin margin-bottom--xlarge {
  margin-bottom: 12rem;
}

@mixin margin-bottom--large {
  margin-bottom: 4rem;
}

@mixin margin-bottom--medium {
  margin-bottom: 2rem;
}

@mixin margin-bottom--small {
  margin-bottom: 1rem;
}

@mixin margin-bottom--xsmall {
  margin-bottom: 0.5rem;
}
