.site-footer
  %ul.site-footer__link-list
    %li Email
    %li LinkedIn
    %li Github
    %li Instagram
    %li Pinterest
  .site-footer__colophon
    I built this site using Middleman and is hosted using Github Pages
