%header
  .main-nav
    .wrapper
      %nav
        %ul.main-nav-list
          %li=link_to 'Case Studies', base_url
          %li=link_to 'Bio', "#{base_url}" + "bio.html"
          %li=link_to 'Blog', "#{base_url}" + "blog.html"
