.nav
  .nav__container--home
    .nav__logo--home
      = link_to base_url do
        = image_tag "/images/logo/logo.svg"
    %ul.nav__menu
      %li
        =link_to 'Writing', base_url + "#writing"
      %li
        =link_to 'Projects', base_url + "#projects"
      %li
        =link_to 'Library', base_url + "library.html"
