/* line 8, /Users/aarongitlin/Documents/aarongitlin/agv2.1/source/stylesheets/typography.scss */
p.text--medium, p.text--medium--long-form {
  font-size: 1.25rem;
  line-height: 1.8rem; }

/* line 12, /Users/aarongitlin/Documents/aarongitlin/agv2.1/source/stylesheets/typography.scss */
p.text--medium--long-form {
  line-height: 2.1rem; }

/* line 17, /Users/aarongitlin/Documents/aarongitlin/agv2.1/source/stylesheets/typography.scss */
p.text--large {
  font-size: 1.3rem;
  line-height: 2.1rem; }
