
body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $serif;
  font-size: 16px;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  color: $base-font-color;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
}
.h2-alt {
  @extend h2;
  font-family: $sans-serif;
}

h3 {
  font-size: 1.6rem;
  line-height: 2.0rem;
  letter-spacing: -0.2px;
}

.h3-alt {
  @extend h3;
  font-family: $sans-serif;
  letter-spacing: normal;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

.h4-alt {
  @extend h4;
  font-family: $sans-serif;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: lighten($action-color, 10%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

label {
  font-family: $sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.75rem;
  line-height: 1.0rem;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
.text-wrap {
  ul, ol {
    margin-left: 1rem;
  }
}
ol {
  list-style: decimal;
}

pre {
  tab-size: 2;
}

pre {
  margin-left: -2rem;
}
