---
title: Profile of Aaron Gitlin
body_class: profile-page
---

.bio-page-wrapper.wrapper
	%h1.project-heading
		= image_tag "../images/profile/pixel_beard.png"
		Aaron Gitlin

	.text-wrap
		= partial 'partials/bio'