---
title: Aaron Gitlin
body_class: index-page
---

.index-page-wrapper

  .introduction
    .introduction__paragraph
      Hi, my name is Aaron Gitlin. I live in New York City and am currently a Senior Product Designer at <a href="http://www.paperlesspost.com/" target="_blank">Paperless Post</a>.  Before that I worked at global consultancy called <a href="http://www.tigerspike.com/" target="_blank">Tigerspike</a>.
    .introduction__contact
      %ul.contact__list
        %li.contact__list__item=link_to "email me", "mailto:aarongitlin@gmail.com"
        %li.contact__list__item=link_to "linkedin", "http://www.linkedin.com/in/aarongitlin/", target: '_blank'
        %li.contact__list__item=link_to "resumé", "/images/resume/agitlin_resume_2016.pdf", target: "_blank"

  #writing.writing-section
    .writing-section__label
      Recent Writing
    .writings
      - blog('writings').articles.each do |writing|
        = link_to writing.title, writing.url, class: 'writing'


  #projects.project-section
    .project-section__label
      Recent Projects
    .projects
      - blog('projects').articles.each do |project|
        .project
          =link_to project.url, class: 'project__image' do
            = image_tag project.metadata[:page]['index_hero_image']
          =link_to project.url do
            .project__title=project.title
          .project__description= project.metadata[:page]['dash_intro']
          .project__cta
            =link_to 'Read More', project.url, class: project.slug
