---
title: Aaron Gitlin
body_class: index-page
---

.index-page-wrapper

  .introduction
    .introduction__paragraph
      Hi, my name is Aaron Gitlin. I'm based in New York City currently working as a Senior Product Designer at Paperless Post.  Before that I worked at global consultancy called Tigerspike.
    .introduction__contact
      You can get in touch with me via email or find me on LinkedIn

  .writing-section
    .writing-section__label
      Recent Writing
    .writings
      - blog('writings').articles.each do |writing|
        = link_to writing.url do
          .writing=writing.title


  .project-section
    .project-section__label
      Recent Projects
    .projects
      - blog('projects').articles.each do |project|
        .project
          =link_to project.url, class: 'project__image' do
            = image_tag project.metadata[:page]['image_path']
          =link_to project.url do
            .project__title=project.title
          .project__description= project.metadata[:page]['dash_intro']
          .project__cta=link_to 'Read More', project.url
